.about {
  color: #03d0fe;
  background-color: #11161d;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.details {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  width: auto;
  padding-right: 5rem;
  padding-left: 5rem;
}
@media (max-width: 400px) {
  .details {
    font-size: 15px;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.imgboarder {
  width: 200px;
  height: 200px;
  margin-top: 4rem;
  border-radius: 50%;
  position: relative;
  background: repeating-conic-gradient(
    from var(--a),
    #03d0fe 0%,
    #03d0fe 5%,
    transparent 5%,
    transparent 40%,
    #03d0fe 50%
  );
  animation: animate 4s linear infinite;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.imgboarder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from var(--a),
    #ffffff 0%,
    #fefefe 5%,
    transparent 5%,
    transparent 40%,
    #ffffff 50%
  );
  animation: animate 4s linear infinite;
  animation-delay: -1s;
  border-radius: 50%;
}

.imgboarder::after {
  content: "";
  position: absolute;
  inset: 8px;
  background: #11161d;
  border-radius: 50%;
  border: 8px solid #11161d;
}

.ahiimg {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}

.contactbox {
  margin-top: 2rem;
}

@media (max-width: 430px) {
  .details {
    margin-left: 0;
    margin-right: 0;
  }
}

.video {
  margin-top: 10px;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(10, 11, 11);
}
@media (max-width: 1520px) {
  .video {
    width: 95%;
  }
}
@media (max-width: 856px) {
  .video {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.video p {
  padding: 2rem;
}

.resume {
  margin-top: 2rem;
  background-color: rgb(3, 208, 254);
  padding: 10px;
  border-radius: 8px;
}
.resume:hover {
  box-shadow: 0 0 5px rgb(3, 208, 254), 0 0 25px rgb(3, 208, 254),
    0 0 50px rgb(3, 208, 254), 0 0 100px rgb(3, 208, 254),
    0 0 200px rgb(3, 208, 254);
}
