.experience {
  color: rgb(126, 182, 22);
  font-family: cursive;
  background-color: rgb(0, 0, 0);
  height: auto;
  width: 100%;

  padding-bottom: 10rem;
  padding-top: 10rem;
  font-family: "Courier New", Courier, monospace;

  padding-bottom: 15rem;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 4rem;
}
@media (max-width: 760px) {
  .exp {
    display: flex;
    flex-direction: column;
  }
}
.company {
  height: 20rem;
  margin: auto;
  width: 20rem;
  background-color: rgb(43, 41, 41, 0.1);
  padding: 2rem;
  font-size: 25px;
}
.workexp {
  height: auto;
  width: auto;
  padding: 1rem;
  color: rgb(181, 80, 184);
  font-size: 25px;
  background-color: rgb(54, 54, 57, 0.1);

  margin-top: 40px;
}

@media (max-width: 760px) {
  .workexp {
    margin-top: 30px;
  }
}

@media (max-width: 530px) {
  .workexp {
    margin-top: 20px;
    font-size: 20px;
  }
}

.img {
  height: 8rem;
  width: 18rem;
}
