* {
  margin: 0;
  padding: 0;
}

.experience {
  height: auto;
  background-color: #11161d;
  padding-top: 2rem;
  padding-bottom: 15rem;
}
.content {
  height: auto;
  margin: 20px;
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
  border: 8px solid rgb(251, 251, 251);
}
.company {
  margin: auto;
  top: 50%;
  background-color: #11161d;
  padding: 25px;
  font-size: 25px;
  color: #03d0fe;
}
.img {
  height: 30px;
}
.workexp {
  left: 50%;
  background-color: #03d0fe;
  padding: 2rem;
  padding-left: 5rem;
  font-size: 25px;
  color: #000000;
}

@media (max-width: 1200px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .company {
    padding: 5rem;
  }
}
