.footer {
  color: black;
  font-family: cursive;
  background-color: #03d0fe;
  height: auto;
  width: 100%;

  padding-bottom: 5rem;

  font-family: "Courier New", Courier, monospace;
  border-top: 0.2px solid black;
}

.footer_content {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 730px) {
  .footer_content {
    flex-direction: column;
  }
}

@media (max-width: 730px) {
  .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: small;
  }
}

.base {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  padding-top: 30px;
}
.quicklink {
  padding-bottom: 30px;
}

.quicklink li {
  padding: 8px 0;
}
@media (max-width: 730px) {
  .quicklink {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.quicklink li div {
  cursor: pointer;
}
