* {
  margin: 0;
  padding: 0;
}
.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #11161d;
  padding-right: 5rem;
  padding-left: 7rem;
  padding-top: 2rem;
  padding-bottom: 7rem;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 10rem;
}
@media (max-width: 1330px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}
.cardcontainer {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}
.cardcontainer .mycard {
  position: relative;
  width: 500px;
  height: 300px;
  background: linear-gradient(50deg, #03d0fe, rgb(249, 249, 249));
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 50px black;
  transition: 0.4s ease-in-out;
}
.cardcontainer .mycard:hover {
  height: auto
}
.cardcontainer .mycard .cimg {
  position: relative;
  width: 400px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 3px 5px black;
}
.cardcontainer .mycard .cimg img {
  width: 400px;
  height: 260px;
  border-radius: 6px;
}
.cardcontainer .mycard .cdetail {
  padding: relative;
  margin-top: -140px;
  padding: 55px 15px;
  text-align: center;
  color: black;
  font-family: monospace;
  font-size: large;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
  background: linear-gradient(50deg, #03d0fe, rgb(249, 249, 249));
}
.cardcontainer .mycard:hover .cdetail {
  visibility: visible;
  opacity: 1;
  margin-top: -50px;
}

@media (max-width: 675px) {
  .cardcontainer .mycard {
    width: 400px;
    margin: 20px;
    padding: 30px;
    height: 250px;
  }
  .cardcontainer .mycard:hover {
    height: 570px;
  }
  .cardcontainer .mycard .cimg {
    width: 300px;
    height: 200px;
  }
 
  .cardcontainer .mycard .cimg img {
    width: 300px;
    height: 200px;
    border-radius: 6px;
  }
}

@media (max-width: 550px) {
  .cardcontainer .mycard {
    width: 320px;
    margin: 20px;
    padding: 20px;
    height: 200px;
  }
  .cardcontainer .mycard:hover {
    height: 650px;
  }

  .cardcontainer .mycard .cimg {
    width: 200px;
    height: 200px;
    top: -60px;
    left: 40px;
  }
  .cardcontainer .mycard .cimg img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
  }
  .work {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.acc-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}
.btn {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 15px;
}

@media (max-width: 440px) {
  .cardcontainer  {
   padding: 10px;
   padding-bottom: 70px;
  }
}
@media (max-width: 360px) {
 
  .cardcontainer .mycard {
    width: 260px;
    margin: 20px;
    padding: 20px;
    height: 200px;
  }
  .cardcontainer .mycard:hover {
    height: 650px;
  }

  .cardcontainer .mycard .cimg {
    width: 150px;
    height: 150px;
    top: -60px;
    left: 40px;
  }
  .cardcontainer .mycard .cimg img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
  }
  .work {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
