.App {
  text-align: center;
  background-color: rgb(191, 28, 28);
  width: 100%;
}
.button {
  background-color: rgb(163, 22, 195);
  border-radius: 2rem;
  color: aliceblue;
  border-color: rgb(57, 11, 77);
  width: 6rem;
  padding: 10px;
  margin: 30px;
}
.title {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
